.home-page {
  // cursor: none;
  // pointer-events: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .home-textarea {
    z-index: 5;
    width: 55%;
    padding: 0 6rem;
    color: #fff;
    font-weight: 700;
    .home-hello {
      font-size: 3rem;
      font-weight: 600;
    }
    .home-name {
      color: #ffd700;
      line-height: 1.1;
      font-size: 5.6rem;
      // cursor: default;
    }
    .home-skill {
      font-size: 3rem;
      font-weight: 600;
      .home-domain {
        font-size: 4rem;
        line-height: 1.3;
        color: rgb(0, 255, 234);
        // cursor: default;
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem 2.4rem;
      border-radius: 3rem;
      margin-top: 4rem;
      background: #ffd700;
      font-size: 2rem;
      font-weight: 700;
      color: #022c43;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
//----------
@media screen and (max-width: 1330px) {
  .home-page {
    .home-textarea {
      padding: 0 3rem;
      .home-hello {
        font-size: 2.2rem;
      }
      .home-name {
        line-height: 1.1;
        font-size: 3.6rem;
      }
      .home-skill {
        font-size: 2.2rem;
        .home-domain {
          font-size: 3.4rem;
        }
      }
      button {
        padding: 1.3rem 2.5rem;
        margin-top: 2.8rem;
        font-size: 2rem;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .home-page {
    flex-direction: column-reverse;
    align-items: flex-start;
    .home-textarea {
      height: 40%;
      width: 80%;
      .home-hello {
        font-size: 2rem;
      }
      .home-name {
        font-size: 3rem;
      }
      .home-skill {
        font-size: 2rem;
        .home-domain {
          font-size: 2.5rem;
        }
      }
      button {
        padding: 1rem 2rem;
        font-size: 1.8rem;
      }
    }
  }
}
@media screen and (max-width: 535px) {
  .home-page {
    .home-textarea {
      height: 50%;
      width: 90%;
      .home-skill {
        .home-domain {
          font-size: 2.5rem;
        }
      }
      button {
        margin-top: 1.3rem;
        padding: 1rem 2rem;
        font-size: 1.8rem;
      }
    }
  }
}
@media screen and (max-width: 475px) {
  .home-page {
    .home-textarea {
      .home-hello {
        font-size: 1.7rem;
      }
      .home-name {
        font-size: 2.6rem;
      }
      .home-skill {
        font-size: 1.7rem;
        .home-domain {
          font-size: 2.3rem;
        }
      }
      button {
        padding: 1rem 2rem;
        font-size: 1.8rem;
      }
    }
  }
}
@media screen and (max-width: 300px) {
  .home-page {
    .home-textarea {
      button {
        padding: 0.7rem 2rem;
        font-size: 1.6rem;
      }
    }
  }
}
