.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .home-textarea {
    width: 55%;
    padding: 0 6rem;
    color: #fff;
    font-weight: 700;
    .home-hello {
      font-size: 3rem;
      font-weight: 600;
      font-style: italic;
    }
    .home-name {
      color: #ffd700;
      line-height: 1.1;
      font-size: 5.6rem;
    }
    .home-skill {
      font-size: 3rem;
      font-weight: 600;
      .home-domain {
        font-size: 4rem;
        line-height: 1.3;
        color: rgb(0, 255, 234);
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.6rem 3rem;
      border-radius: 3rem;
      margin-top: 4rem;
      background: #ffd700;
      font-size: 2rem;
      font-weight: 700;
      color: #022c43;
    }
  }
  .logo-home-container {
    width: 45%;
    margin-right: 2rem;
    height: 100%;
    transform: rotate(-90deg);
    position: relative;
    .logo-page-svg {
      height: 100%;
      width: 70%;
      position: absolute;
    }
    .logo-outlined-svg {
      position: absolute;
    }
    .width-line {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 15vw;
      width: 103%;
      background-color: #022c43ad;
      transform: translate(-50%, -50%) rotate(-90deg);
      z-index: 1 !important;
    }
    #profile-img {
      height: 15vw;
      width: 15vw;
      border-radius: 20%;
      background-color: #00032d65;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-position: center;
        height: 34vw;
        margin-bottom: 1rem;
        margin-right: 4vw;
      }
    }
  }
}
//----------
@media screen and (max-width: 1330px) {
  .home-page {
    .home-textarea {
      padding: 0 3rem;
      .home-hello {
        font-size: 2.2rem;
      }
      .home-name {
        line-height: 1.1;
        font-size: 3.6rem;
      }
      .home-skill {
        font-size: 2.2rem;
        .home-domain {
          font-size: 3.4rem;
        }
      }
      button {
        padding: 1.3rem 2.5rem;
        margin-top: 2.8rem;
        font-size: 2rem;
      }
    }
    .logo-home-container {
      margin-right: 2em;
      width: 45%;
    }
  }
}
@media screen and (max-width: 750px) {
  .home-page {
    flex-direction: column-reverse;
    .home-textarea {
      height: 40%;
      width: 80%;
      .home-hello {
        font-size: 2rem;
      }
      .home-name {
        font-size: 3rem;
      }
      .home-skill {
        font-size: 2rem;
        .home-domain {
          font-size: 2.5rem;
        }
      }
      button {
        padding: 1rem 2rem;
        font-size: 1.8rem;
      }
    }
    .logo-home-container {
      height: 60%;
      width: 80%;
      .width-line {
        height: 16rem;
        #profile-img {
          height: 16rem;
          width: 16rem;
          img {
            height: 37rem;
            margin-right: 3.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 535px) {
  .home-page {
    .home-textarea {
      height: 50%;
      width: 90%;
      .home-skill {
        .home-domain {
          font-size: 2.5rem;
        }
      }
      button {
        margin-top: 1.3rem;
        padding: 1rem 2rem;
        font-size: 1.8rem;
      }
    }
    .logo-home-container {
      height: 50%;
      .width-line {
        height: 14rem;
        #profile-img {
          height: 14rem;
          width: 14rem;
          img {
            height: 32rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 475px) {
  .home-page {
    .home-textarea {
      .home-hello {
        font-size: 1.7rem;
      }
      .home-name {
        font-size: 2.6rem;
      }
      .home-skill {
        font-size: 1.7rem;
        .home-domain {
          font-size: 2.3rem;
        }
      }
      button {
        padding: 1rem 2rem;
        font-size: 1.8rem;
      }
    }
    .logo-home-container {
      height: 50%;
      .width-line {
        height: 26vw;
        #profile-img {
          height: 26vw;
          width: 26vw;
          img {
            height: 60vw;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 300px) {
  .home-page {
    .home-textarea {
      button {
        padding: 0.7rem 2rem;
        font-size: 1.6rem;
      }
    }
  }
}
