.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 5.8rem;
  height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.4rem;

  //-----------
  color: #fff;
  .logo-container {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 60%;
      height: fit-content;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.8rem;
    list-style: none;
    li {
      width: 100%;
      display: flex;
      text-align: center;
      margin-top: 0.5rem;
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 2.3rem;
        color: #69696a;
        i {
          display: block;
          width: 100%;
        }
        span {
          display: block;
          position: absolute;
          color: #ffd700;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
    list-style: none;
    li {
      a {
        font-size: 1.8rem;
        display: block;
        color: #69696a;
      }
      &:nth-child(4) {
        margin-top: 0.6rem;
        padding: 0.4rem;
        border-radius: 50%;
        background-color: #686868;
      }
      &:nth-child(5) {
        padding: 0.3rem;
        border-radius: 50%;
        background-color: #686868;
      }
      &:nth-child(6) {
        padding: 0.2rem;
        border-radius: 50%;
        background-color: #686868;
      }
      &:nth-child(7) {
        padding: 0.1rem;
        border-radius: 50%;
        background-color: #686868;
      }
    }
  }
}

@media screen and (max-width: 1005px) {
  .nav-bar {
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1rem;
      list-style: none;
      li {
        a {
          font-size: 2.3rem;
          color: #69696a;
          text-align: center;
        }
      }
    }
    .social-links {
      gap: 0;
      li {
        &:nth-child(4) {
          margin-bottom: 1rem;
        }
        &:nth-child(5) {
          margin-bottom: 1rem;
        }
        &:nth-child(6) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .nav-bar {
    width: 4.7rem;
    .nav-links {
      li {
        a {
          font-size: 2rem;
          span {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
